body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: white;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* fixed = parallax
        scroll = normal    
    */
    background-attachment: fixed;
    transition: all .3s;
}

.pimg1 {
    background-color: #252934;
    min-height: 100vh;
}

.pimg2 {
    background-image: url(https://source.unsplash.com/random/1920x1200);
    min-height: 400px;
    opacity: 0.7;
}

.pimg2:hover {
    opacity: 1;
}

.pimg3 {
    background-image: url(https://source.unsplash.com/random/1920x1080);
    min-height: 400px;
    opacity: 0.7;
}

.pimg3:hover {
    opacity: 1;
}

.section {
    text-align: center;
    padding: 50px 80px;
    background: #fff;
    color: #222;
    height: 100vh;
}

.ptext {
    position: absolute;
    top: 10rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px 30px;
}

.ptext .border .trans {
    background-color: transparent;
}

#myName {
    color: rgb(190, 32, 58);
}

.infoOnMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.picMe {
    width: 30%;
    height: 30%;
    opacity: 0.6;
    transition: all .3s;
    border-radius: 60px;
}

.picMe:hover {
    opacity: 1;
}

.infoContain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myToys {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.toy {
    width: 10%;
    height: 10%;
    transition: all .3s;
    opacity: 0.5;
}

.toy:hover {
    opacity: 1;
}

.works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#works1 {
    width: 50%;
    height: 50%;
    opacity: 0.6;
    transition: all .3s;
}

#works2 {
    width: 50%;
    height: 50%;
    opacity: 0.6;
    transition: all .3s;
}

#works1:hover {
    opacity: 1;
}

#works2:hover {
    opacity: 1;
}

.formOfContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 50%;
    height: 30em;
    margin-left: 27em;
    margin-top: 12em;
}


/* .formField {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9em;
    border: 1px solid black;
    width: 70%;
    line-height: .5em;
} */

.inputs {
    /* margin-left: 23%; */
    width: 50%;
}


/* .contactSection {
    text-align: center;
} */

#submit {
    width: 10em;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 12pt;
    padding: .5em auto;
    transition: all .3s;
}

#submit:hover {
    background-color: black;
    color: white
}

@media(max-width: 560px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}